@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400|Space+Mono');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

html {
  height: 100%;
}

body {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p > code {
  font-family: 'Space Mono', Monaco, Consolas, monospace;
}

h3 + p {
  margin-top: 2em;
}

a {
  color: #fff;
  text-decoration-skip: ink;
  border-radius: 6px;
}

em {
  font-style: normal;
}

small {
  font-size: .7em;
  color: #999;
}

ul, ol {
  -webkit-padding-start: 3em;
}

li > strong {
  border: .06em solid;
  padding: 0 .2em;
}

.light {
  background: #222;
  color: #eee;
}

.light em {
  color: #fadb03;
}
.light.print-mode em {
  color: #9c27b0;
}

.light p > code,
.light li > code {
  color: #2eccbf;
}

.light a {
  color: #7cbfe5;
}

.light a:hover {
  background: #4e5b6f;
}

.light strong {
  color: #f77428;
}

.light strong > em {
  color: #e53935;
}
.light em > strong {
  color: #a1e256;
}

img {
  width: 100%;
}


table {
  margin: 2em auto;
}

th:empty {
  display: none;
}

td {
  border-top: 1px solid;
  padding: .2em .5em;
}

tr:last-child > td {
  border-bottom: 1px solid;
}

tr:nth-child(even) {
  background: #333
}

div.slide-container {
  background-size: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

div.slide {
  box-sizing: border-box;
  cursor: pointer;
  padding: 4%;
  flex: 1 1 auto;
}

div.imageText {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* normally not good, but ok in context of full screen directional navigation */
:focus {
  outline: 0;
}

body.talk-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.print-mode {
  background: #fff;
  color: #000;
  font-weight: normal;
  padding: 30px 20px;
}

body.print-mode div.sub-container {
  padding: 10px 20px;
  display: flex;
  flex-flow: row wrap;
}

ul.notes-list {
  display: inline-block;
  float: left;
  vertical-align: top;
}

body.print-mode div.slide-container {
  border: 1px solid #000;
}

body.jump-mode {
  padding: 10px;
}

body.jump-mode div.sub-container {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

body.jump-mode div.slide-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  overflow: hidden;
}

body.jump-mode div.slide-container:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

cite {
  text-align: right;
  display: block;
  margin: 1em .5em;
  font-style: normal;
  font-size: .9em;
  line-height: .8em;
}

/* 
Split view
*/

.q {
  align-items: center;
  display: flex;
}
.split {
  float: left;
  position: relative;
}

.talk-mode .split { height: 75vh; }

.split .circle { display: none; }
.talk-mode .split .circle { display: inline; }

.q .circle {
  width: 1.3em;
  text-align: center;
  border: .04em solid;
  border-radius: 50%;
  line-height: 1.3em;
  margin: auto;
}

.split .circle {
  margin-right: .8em;
}

.split .circle:after {
  content: '';
  position: absolute;
  border-left: .04em solid;
  height: 100%;
  display: block;
  right: .4em;
  top: 0;
}

/*
Specific
*/

.presentation-container > .slide-container:first-child,
.sub-container:first-child .slide-container {
  background: #00a676;
  text-align: center
}

.slide-container:last-child li { /* Links */
  padding: .2em 0;
  white-space: nowrap;
}

.presentation-container > .slide-container:nth-child(10) ul,
.sub-container:nth-child(10) ul {
  -webkit-padding-start: .5em;
  list-style: none;
}

.presentation-container > .slide-container:nth-child(10) li,
.sub-container:nth-child(10) li {
    white-space: nowrap;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.5; }
}
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 800ms;
}

h1 > i, 
h2 > i, 
h3 > i, 
h4 > i, 
h5 > i {
    font-style: normal;
    white-space: nowrap;
}

.jump-mode .slide-container iframe {
    zoom: .2;
}

g {
    display: inline;
    color: gray;
}

hr {
    margin: 1.4em 0;
}

blockquote img {
    height: 60vw;
    width: auto;
}

blockquote {
    display: flex;
    justify-content: center;
}